<!doctype html>
<html lang="en">
    <head>
        <!-- Title and Icon -->

        <title id="clientTitle">MiroTalk WebRTC Video call, Chat Room & Screen Sharing.</title>
        <link id="icon" rel="shortcut icon" href="../images/logo.svg" />
        <link id="appleTouchIcon" rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta
            name="viewport"
            content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
        />
        <meta
            name="description"
            content="MiroTalk powered by WebRTC, Real-time Simple Secure Fast video calls, chat and screen sharing capabilities in the browser, from your mobile or desktop."
        />
        <meta
            name="keywords"
            content="webrtc, openAI, chatGPT, webrtc stun, webrtc turn, video meeting, video chat, multi video chat, peer to peer, p2p, zoom"
        />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="MiroTalk" />
        <meta property="og:title" content="Click the link to join this call." />
        <meta property="og:description" content="Free WebRTC browser-based video call." />
        <meta property="og:image" content="https://p2p.mirotalk.com/images/preview.png" />
        <meta property="og:url" content="https://p2p.mirotalk.org" />
        <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon.png" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="../css/client.css" />
        <link rel="stylesheet" href="../css/videoGrid.css" />
        <link rel="stylesheet" href="../css/whiteboard.css" />

        <!-- https://cdnjs.com/libraries/font-awesome -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />

        <!-- https://animate.style 4 using for swal fadeIn-Out -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

        <!-- flatpickr  https://flatpickr.js.org/themes/ -->

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
        <link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css" />

        <!--  pickr  https://github.com/simonwep/pickr -->

        <!-- 'classic' theme -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/classic.min.css" />
        <!-- 'monolith' theme -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/monolith.min.css" />
        <!-- 'nano' theme -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@simonwep/pickr/dist/themes/nano.min.css" />

        <!-- JavaScripts -->

        <script async src="../js/umami.js"></script>
    </head>

    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>

        <!-- just 4SEO Optimization -->

        <div id="webRTCSeo">
            <h1>WebRTC</h1>
        </div>

        <!-- show this before to join -->

        <div id="loadingDiv" class="center pulsate">
           <h1>Leader2 
             talks</h1>
            <img class="loading-img" src="../images/loading.gif" />
            <pre>
Please allow the camera or microphone
access to use this app. we will not capture your photo.
its important to just turn it on. 
By Rudransh and Co.
            </pre>
        </div>

        <!-- init user devices -->

        <div id="initUser" class="init-user hidden">
            <!-- <p>Please allow the camera & microphone access to use this app.</p> -->
            <div id="initVideoContainer" class="init-video-container">
                <video
                    id="initVideo"
                    playsinline="true"
                    autoplay=""
                    class="mirror"
                    poster="../images/loader.gif"
                ></video>
            </div>
            <div class="initComands">
                <button id="initVideoBtn" class="fas fa-video"></button>
                <button id="initAudioBtn" class="fas fa-microphone"></button>
                <button id="initScreenShareBtn" class="fas fa-desktop"></button>
                <button id="initVideoMirrorBtn" class="fas fa-arrow-right-arrow-left"></button>
                <button id="initUsernameEmojiButton" class="fas fa-smile"></button>
                <select id="initVideoSelect" class="form-select text-light bg-dark"></select>
                <select id="initMicrophoneSelect" class="form-select text-light bg-dark"></select>
                <select id="initSpeakerSelect" class="form-select text-light bg-dark"></select>
            </div>
        </div>

        <!-- Add emoji to username -->

        <div id="usernameEmoji" class="usernameEmoji fadein center hidden"></div>

        <!-- Start buttons bar https://fontawesome.com/icons?d=gallery -->

        <div id="buttonsBar" class="fadein">
            <button id="shareRoomBtn" class="fas fa-share-alt"></button>
            <button id="recordStreamBtn" class="fas fa-record-vinyl"></button>
            <button id="fullScreenBtn" class="fas fa-expand-alt"></button>
            <button id="chatRoomBtn" class="fas fa-comment"></button>
            <button id="captionBtn" class="fas fa-closed-captioning"></button>
            <button id="roomEmojiPickerBtn" class="fas fa-face-smile"></button>
            <button id="whiteboardBtn" class="fas fa-chalkboard-teacher"></button>
            <button id="snapshotRoomBtn" class="fas fas fa-camera-retro"></button>
            <button id="fileShareBtn" class="fas fa-folder-open"></button>
            <button id="documentPiPBtn" class="fas fa-images"></button>
            <button id="mySettingsBtn" class="fas fa-cogs"></button>
            <button id="aboutBtn" class="fas fa-question"></button>
        </div>
        <!-- End left buttons -->

        <!-- Start bottom buttons -->
        <div id="bottomButtons" class="fadein">
            <button id="audioBtn" class="fas fa-microphone"></button>
            <button id="videoBtn" class="fas fa-video"></button>
            <button id="swapCameraBtn" class="fas fa-camera-rotate"></button>
            <button id="hideMeBtn" class="fas fa-user"></button>
            <button id="screenShareBtn" class="fas fa-desktop"></button>
            <button id="myHandBtn" class="fas fa-hand-paper"></button>
            <button id="leaveRoomBtn" class="fa-solid fa-phone-slash"></button>
        </div>

        <!-- End bottom buttons -->

        <!-- Start room emoji picker -->

        <div id="emojiPickerContainer" class="roomEmoji fadein">
            <div id="emojiPickerHeader" class="emojiPickerHeader">
                <button id="closeEmojiPickerContainer" class="fas fa-times"></button>
            </div>
        </div>
        <div id="userEmoji" class="userEmoji"></div>

        <!-- End room emoji picker -->

        <!-- Start chat room 
        https://codepen.io/sajadhsm/pen/odaBdd
        https://getemoji.com
        -->

        <section id="msgerDraggable" class="msger-draggable fadein">
            <section id="msger" class="msger">
                <header id="msgerHeader" class="msger-header">
                    <div class="msger-header-title"></div>
                    <div class="msger-header-options">
                        <button id="msgerTogglePin" class="fas fa-map-pin"></button>
                        <button id="msgerTheme" class="fas fa-ghost"></button>
                        <button id="msgerMaxBtn" class="fas fa-expand"></button>
                        <button id="msgerMinBtn" class="fas fa-compress"></button>
                        <div class="dropdown-custom">
                            <button
                                class="dropdown-toggle-custom"
                                type="button"
                                id="msgerDropDownMenuBtn"
                                data-bs-toggle="dropdown-custom"
                                aria-expanded="false"
                            >
                                <i class="fas fa-bars"></i>
                            </button>
                            <ul
                                id="msgerDropDownContent"
                                class="dropdown-menu-custom"
                                aria-labelledby="msgerDropDownMenuBtn"
                            >
                                <li>
                                    <hr />
                                    <div id="msgerShowChatOnMsgDiv" class="title ml-10">
                                        <i class="fa-solid fa-eye"></i>
                                        <label class="switch ml-10">
                                            <input id="msgerShowChatOnMsg" type="checkbox" checked />
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <div id="msgerSpeechMsgDiv" class="title">
                                        <i class="fas fa-volume-high ml-10"></i>
                                        <label class="switch ml-10">
                                            <input id="msgerSpeechMsg" type="checkbox" />
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                    <hr />
                                </li>
                                <li>
                                    <button id="msgerSaveBtn"><i class="fas fa-save"></i> Save messages</button>
                                </li>
                                <li>
                                    <button id="msgerClean"><i class="fas fa-trash"></i> Clean messages</button>
                                </li>
                            </ul>
                        </div>
                        <button id="msgerClose" class="fas fa-times"></button>
                    </div>
                </header>

                <main id="msgerChat" class="msger-chat"></main>

                <!-- Start emoji picker -->

                <section id="msgerEmojiPicker" class="hidden fadein chatEmojiPicker"></section>

                <!-- End emoji picker -->

                <div class="msger-inputarea">
                    <textarea
                        rows="1"
                        cols="1"
                        id="msgerInput"
                        class="msger-input"
                        placeholder="Write a message..."
                    ></textarea>
                </div>

                <div class="msger-input-buttons">
                    <button id="msgerEmojiBtn" class="fas fa-smile"></button>
                    <button id="msgerMarkdownBtn" class="fab fa-markdown"></button>
                    <button id="msgerGPTBtn" class="fas fa-robot"></button>
                    <button id="msgerShareFileBtn" class="fas fa-paperclip"></button>
                    <button id="msgerVideoUrlBtn" class="fab fa-youtube"></button>
                    <button id="msgerCPBtn" class="fas fa-users"></button>
                    <button id="msgerCleanTextBtn" class="fas fa-trash"></button>
                    <button id="msgerPasteBtn" class="fas fa-paste"></button>
                    <button id="msgerSendBtn" class="fas fa-paper-plane"></button>
                </div>
            </section>

            <!-- Start private msg -->

            <section id="msgerCP" class="center fadein">
                <section id="msgerCPSec" class="msger">
                    <header id="msgerCPHeader" class="msger-private-header">
                        <div class="msger-header-title"><i class="fas fa-comment-alt"></i> Send Private messages</div>
                        <div class="msger-header-options">
                            <button id="msgerCPCloseBtn" class="fas fa-times"></button>
                        </div>
                    </header>
                    <main id="msgerCPChat" class="msger-chat">
                        <div class="search-container">
                            <input
                                id="searchPeerBarName"
                                type="text"
                                placeholder=" 🔍 Search peer by name..."
                                maxlength="32"
                                name="search"
                            />
                        </div>
                        <br />
                        <div id="msgerCPList"></div>
                    </main>
                </section>
            </section>

            <!-- End private msg -->
        </section>

        <!-- End chat room -->

        <!-- Start of caption section -->

        <section id="captionDraggable" class="caption-draggable fadein">
            <section id="caption" class="caption">
                <header id="captionHeader" class="caption-header">
                    <div class="caption-header-title">
                        <button id="speechRecognitionIcon" class="fas fa-microphone-alt"></button>
                    </div>
                    <div class="caption-header-options">
                        <button id="captionTogglePin" class="fas fa-map-pin"></button>
                        <button id="captionTheme" class="fas fa-ghost"></button>
                        <button id="captionSaveBtn" class="fas fa-save"></button>
                        <button id="captionClean" class="fas fa-trash"></button>
                        <button id="captionMaxBtn" class="fas fa-expand"></button>
                        <button id="captionMinBtn" class="fas fa-compress"></button>
                        <button id="captionClose" class="fas fa-times"></button>
                    </div>
                </header>

                <main id="captionChat" class="caption-chat"></main>
                <div class="caption-inputarea">
                    <select id="recognitionLanguage"></select>
                    <select id="recognitionDialect"></select>
                    <button id="speechRecognitionStart"><i class="fas fa-play"></i> Start</button>
                    <button id="speechRecognitionStop"><i class="fas fa-stop"></i> Stop</button>
                </div>
            </section>
        </section>

        <!-- End of caption section -->

        <!-- Start my settings -->

        <section id="mySettings" class="center fadein">
            <header id="mySettingsHeader">
                <button id="mySettingsCloseBtn" class="fas fa-times"></button>
            </header>
            <main class="mySettingsMain">
                <div class="tab">
                    <button id="tabRoomBtn" class="fas fa-home tablinks">
                        <p class="tabButtonText">Room</p>
                    </button>
                    <button id="tabVideoBtn" class="fas fa-video tablinks">
                        <p class="tabButtonText">Video</p>
                    </button>
                    <button id="tabAudioBtn" class="fas fa-microphone tablinks">
                        <p class="tabButtonText">Audio</p>
                    </button>
                    <button id="tabRecordingBtn" class="fas fa-record-vinyl tablinks">
                        <p class="tabButtonText">Recording</p>
                    </button>
                    <button id="tabVideoShareBtn" class="fab fa-youtube tablinks">
                        <p class="tabButtonText">Media</p>
                    </button>
                    <button id="tabParticipantsBtn" class="fa-solid fa-users tablinks">
                        <p class="tabButtonText">Participants</p>
                    </button>
                    <button id="tabProfileBtn" class="fa-solid fa-user tablinks">
                        <p class="tabButtonText">Profile</p>
                    </button>
                    <button id="tabNetworkBtn" class="fa-solid fa-network-wired tablinks">
                        <p class="tabButtonText">Network</p>
                    </button>
                    <button id="tabStylingBtn" class="fas fa-palette tablinks">
                        <p class="tabButtonText">Style</p>
                    </button>
                    <button id="tabLanguagesBtn" class="fas fa-globe tablinks">
                        <p class="tabButtonText">Language</p>
                    </button>
                </div>

                <div class="tabActions">
                    <div id="tabRoom" class="tabcontent">
                        <table class="settingsTable">
                            <tr>
                                <td>
                                    <div class="title">
                                        <i class="fa-solid fa-person-shelter"></i>
                                        <p id="myRoomId" class="cp">xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx</p>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div id="tabRoomSecurity">
                            <button id="lockRoomBtn"><i class="fas fa-lock-open"></i>&nbsp;Lock room</button>
                            <button id="unlockRoomBtn"><i class="fas fa-lock"></i>&nbsp;Unlock room</button>
                            <br />
                        </div>
                        <div id="tabEmailInvitation">
                            <button id="roomSendEmailBtn">
                                <i class="fas fa-envelope-circle-check"></i>&nbsp;Send email invitation
                                <br />
                            </button>
                        </div>
                        <br />
                        <br />
                        <table id="mySettingsTable">
                            <tr>
                                <td class="width-130">
                                    <div class="title">
                                        <i class="fas fa-microphone-lines"></i>
                                        <p>Volume bar</p>
                                    </div>
                                </td>
                                <td><input id="switchAudioPitchBar" class="toggle" type="checkbox" checked /></td>
                            </tr>
                            <tr>
                                <td class="width-130">
                                    <div class="title">
                                        <i class="fas fa-music"></i>
                                        <p>Sounds</p>
                                    </div>
                                </td>
                                <td><input id="switchSounds" class="toggle" type="checkbox" checked /></td>
                            </tr>
                            <tr id="shareOnJoinButton">
                                <td class="width-130">
                                    <div class="title">
                                        <i class="fas fa-share-alt"></i>
                                        <p>Share</p>
                                    </div>
                                </td>
                                <td><input id="switchShare" class="toggle" type="checkbox" checked /></td>
                            </tr>
                        </table>
                    </div>

                    <div id="tabVideo" class="tabcontent">
                        <div>
                            <div class="title">
                                <i class="fas fa-video"></i>
                      
